@font-face {
    font-family: 'ModernDOS8x16';
    src: url('../fonts/ModernDOS8x16.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'ModernDOS8x14';
    src: url('../fonts/ModernDOS8x14.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }